<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Back Office - Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <h2>Tableau de bord administrateur</h2>
    <ul>
        <li><a href="categories">Les categories</a></li>
        <li><a href="categorie/nouveau">Ajouter de nouvelle categorie</a></li>
        <li><a href="categorie/edit">Paramétrer </a></li>
        <li><a href="reservations">Les listes des reservations </a></li>
    </ul>
</body>
</html>
